.chat {
  input {
    background: #F3F3F3;
    border-radius: 32px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 20px;
    line-height: 25px;
    color: #929292;
    padding: 18px 30px 21px;
    box-sizing: border-box;
  }
}