.chat {
  button {
    position: absolute;
    width: 40px;
    height: 35px;
    top: 15px;
    right: 15px;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    cursor: pointer;
  }
}