.message {
  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 30px;

    &_avatar {
      width: 70px;
      height: 70px;
      margin-right: 20px;
    }

    &_text {
      font-size: 21px;
      line-height: 24px;
      padding: 23px 20px;
      border-radius: 35px;
      box-sizing: border-box;

      &.yellow {
        background: #F9C35B;
      }

      &.white {
        background: #fff;
      }
    }
  }

  &__animation_write {
    display: flex;
    align-items: center;
    height: 70px;
  
    span {
      width: 5px;
      height: 5px;
      margin: 0 5px;
      background-color: #000;
      border-radius: 50%;
      -webkit-animation: 1s linear 0s infinite alternate write;
      -moz-animation: 1s linear 0s infinite alternate write;
      -o-animation: 1s linear 0s infinite alternate write;
      animation: 1s linear 0s infinite alternate write;
    }
  }
}